################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Common
/Common/bin/Debug/netstandard2.0
/Common/obj
/Test/bin/Debug/netcoreapp2.1
/Test/obj
